

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  audio {
    margin: 2%;
  }
  

  summary {
    text-align: center;
    margin: 3%;

  }

.flex-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
  
.flex-item {
  
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 100px;
  margin: 10px;
}
