
$primary-color: #121112;
$secondary-color: #5BC0BE;
$font-family: Arial, sans-serif;

$primary-background-color: #121112;
$navbar-background-color: #5BC0BE;
$link-color: rgb(93, 144, 220);
$link-hover-color: rgb(20, 34, 161);
$strong-color: #0d06e2;
$footer-background-color: #aeb9b1;
$footer-text-color: #bac225;
$upload-section-background-color: #b3b3c0;
$table-background-color: #36b4a3;
$text-color:  #fff;